@import "node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #eee;
}

.404-panel {
    background-color: white;
}

.fade-transition {
  transition: all .3s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}
